<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        {% for key, messages in app.session.flashBag.all() %}
            {% for message in messages %}
            <div class="{{ key }}">
                {{ message|trans({}, 'SoclozFeatureFlagBundle') }}
            </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block socloz_feature_flag %}
            {% endblock socloz_feature_flag %}
        </div>
    </body>
</html>
